<div class="d-flex">

<div id="sideBar" class=" d-flex flex-column" style="height: 100vh;background-color: blueviolet;width: 8rem;">
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/employees">Employee List</a>          
  </div>

<div>
    <div class="d-flex pt-2">
        <h2 class="text-primary ps-2">Employee List</h2>
        <a id="addUser" routerLink="/employee/add"><i class="fa-solid fa-user"></i>+Add</a>
    </div>
    <div class="mt-5 ps-2">
        <input class="rounded" style="border:1px solid lightgray;width: 15rem;height: 2rem;" type="text" placeholder="username" name="search" [(ngModel)]="searchKey">
        <button (click)="sortId()" type="button" class="btn btn-success ms-2">Sort By Id</button>
        <button (click)="sortName()" type="button" class="btn btn-primary ms-2">Sort By Name</button>

        <button (click)="generatePdf()" id="export" class="btn btn-success" type="button">Export</button>
    </div>

    <div class="mt-5 ps-5">
        <table>
            <thead>
                <th>User Id</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let employee of allEmployee |search:searchKey | paginate:{
                    itemsPerPage:6,currentPage: p}" [hidden]="employee.id=='1'">
                    <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.email}}</td>
                    <td><span [ngClass]="employee.status=='1'?'btn btn-success':'btn btn-warning'">{{employee.status=='1'?'Active':'Inactive'}}</span></td>
                    <td>
                        <a routerLink="/employee/edit/{{employee.id}}"><i class="fa-solid fa-pen"></i></a>
                        <a (click)="removeEmployee(employee.id)"><i class="fa-solid fa-trash ms-3 text-danger"></i></a>
                         
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="m-5"
        (pageChange)="p=$event">
        </pagination-controls>
    </div>

  
</div>


</div>
